    <header>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
        <h1>Welcome {{screamit userName}}</h1>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
    </header>